@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Basic Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}

body {
  height: 100vh;
  width: 100vw;
  background: url("assets/background.jpg") center/cover no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

body::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(5px);
  height: 100vh;
  width: 100vw;
}
/* End of Basic Styling */

/* Weather Data Area */
.container {
  height: 480px;
  width: 300px;
  border: none;
  z-index: 1;
  backdrop-filter: blur(20px);
  border-radius: 10px;
  box-shadow: 0 0 30px 0 black;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.input-area {
  width: 100%;
  height: min-content;
  padding: 10px 10px;
  border-radius: 99px;
  background: rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: medium;
  outline: none;
  border: none;
  transition: background 0.5s;
  padding-right: 45px;
  padding-left: 15px;
}

.input-area:focus {
  background: rgba(0, 0, 0, 0.3);
}

.input-area::placeholder {
  color: rgba(255, 255, 255, 0.75);
}

#btn {
  background: transparent;
  outline: none;
  position: absolute;
  right: 40px;
  padding-top: 5px;
  border: none;
  cursor: pointer;
}

.entire-weather-data-area {
  display: flex;
  flex-direction: column;
 
}

.city-date-area {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  font-weight: 300;
}

.city-area {
  display: flex;
  gap: 5px;
  margin-left: 5px;
}

.city-area h3 {
  font-weight: 500;
}

img {
  width: 30px;
  height: 30px;
}

.date-area {
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.day {
  font-weight: 500;
}

.date {
  font-weight: 400;
  font-family: "Times New Roman", Times, serif;
}

.image-data-area {
  margin: 0 10px;
  display: flex;
  justify-content: space-between;
}

.weather-image {
  height: 120px;
  width: 100px;
}

.tempreture {
  margin-right: 20px;
  margin-top: 30px;
  font-weight: 500;
  font-size: xx-large;
}

.tempreture .situation {
  font-weight: 300;
  font-size: medium;
}

.other-aspect {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.humidity,
.wind-speed {
  display: flex;
}

.humidity span,
.wind-speed span {
  padding: 5px;
  text-align: center;
}

.humidity .humidity-text,
.wind-speed .wind-text {
  font-size: small;
  font-weight: 300;
}

.wind-speed .wind-texts {
  position: relative;
  right: 10px;
}

.wind-texts .wind-measure {
  text-transform: lowercase;
}

.upcoming-days {
  margin: 20px 0 0 10px;
  display: flex;
  overflow-x: scroll;
  gap: 15px;
  padding-bottom: 12px;
  position: relative;
  
}

.upcoming-days-box {
  min-width: 70px;
  padding: 5px;
  font-size: small;
  cursor: pointer;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(249, 244, 244, 0.082);
  border-radius: 10px;
  transition: background 0.3s;
}

.upcoming-days-box:hover {
  background: rgba(249, 244, 244, 0.321);
}

.upcoming-days-box img {
  width: 40px;
}

.upcoming-days-box .box-tempreture {
  font-weight: 700;
}

.upcoming-days::-webkit-scrollbar {
  height: 8px;
}

.upcoming-days::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 99px;
  padding: 20px;
}

.upcoming-days::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.15);
}
/* End of Weather Data Area */

/* Search City Area */
.search-city {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  text-align: center;
}

.search-city img {
  width: 200px;
  height: 200px;
}

.search-city h2 {
  font-weight: 500;
}

.search-city h5 {
  font-weight: 400;
}
/* End of Search City Area */

/* Not Found Area */
.not-found-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
  text-align: center;
}

.not-found-area img {
  width: 200px;
  height: 150px;
}

.not-found-area h2 {
  font-weight: 500;
}

.not-found-area h5 {
  font-weight: 400;
}
/* End of Not Found Area */

/* Media Query for Mobile Phones */
@media (max-width: 480px) {
  body {
    background-image: url("assets/weather mobile background.jpg");
    background-position: center;
  }

  .container {
    height: 100%;
    width: 100%;
    border-radius: 0;
    box-shadow: none;
    padding: 10px;
  }

  .header {
    margin: 10px;
  }

  .input-area {
    width: calc(100% - 60px);
    height: 40px;
    padding:0 20px 0 20px;
    margin: 10px 10px 0 40px;
    border-radius: 10px;
    font-size: 14px;
    padding-right: 60px;
  }

  #btn {
    right: 10px;
    width: 40px;
    height: 40px;
    position: relative;
    top: 6px;
    right: 50px;
  }

  .entire-weather-data-area {
    margin-top: 50px;
    gap: 50px;
    display: flex;
    flex-direction: column;
  }

  .tempreture {
    font-size: xx-large;
  }

  .city-date-area {
    font-size: larger;
  }

  .city-area {
    margin-left: 0;
    font-size: larger;
  }

  .weather-image {
    height: 140px;
    width: 140px;
    position: relative;
    bottom: 45px;
  }

  .tempreture {
    margin-right: 10px;
    font-size: 24px;
    margin-top: 10px;
  }

  .humidity .humidity-text,
  .wind-speed .wind-text {
    font-size: larger;
  }
  .wind-speed span{
    position: relative;
    right: 10px;
  }
  .upcoming-days {
    margin: 20px 0 0 10px;
    gap: 26px;
    padding-bottom: 10px;
    margin-left: 20px;
  }

  .upcoming-days-box {
    min-width: 60px;
    padding: 5px;
    font-size: 12px;
  }

  .upcoming-days-box img {
    width: 30px;
    height: 30px;
  }

  .upcoming-days::-webkit-scrollbar-track,
  .upcoming-days::-webkit-scrollbar-thumb {
    background: transparent;
  }

  .search-city,
  .not-found-area {
    margin-top: 80px;
  }

  .search-city img,
  .not-found-area img {
    width: 300px;
    height: 300px;
  }

  .not-found-area img {
    height: 250px;
  }
}

/* Media Query for Tablets */
@media (min-width: 481px) and (max-width: 768px) {
  body{
    background: url("assets/weather\ tab\ background.jpeg");
    background-position:center;
    background-size: contain;
  }
  .container {
    height: 600px;
    width: 80%;
    padding: 15px;
  }

  .input-area {
    width: calc(100% - 60px);
    height: 45px;
    font-size: 16px;
    padding-left: 20px;
    margin-left: 30px;
  }

  #btn {
    right: 20px;
    width: 45px;
    height: 45px;
    padding-right: 70px;
    padding-top: 5px;
  }

  .entire-weather-data-area {
    margin-top: 60px;
    gap: 10px;
  }

  .weather-image {
    height: 150px;
    width: 130px;
  }
  .wind-speed span{
    position: relative;
    right: 10px;
  }
  .tempreture {
    font-size: large;
  }

  .city-date-area {
    font-size: medium;
  }

  .city-area {
    font-size: medium;
  }

  .upcoming-days {
    margin: 20px 0 0 10px;
    gap: 20px;
  }

  .upcoming-days-box {
    min-width: 80px;
    padding: 5px;
    font-size: 14px;
  }

  .upcoming-days-box img {
    width: 35px;
    height: 35px;
  }

  .search-city img,
  .not-found-area img {
    width: 250px;
    height: 250px;
  }

  .not-found-area img {
    height: 200px;
  }
  .upcoming-days::-webkit-scrollbar-track,
  .upcoming-days::-webkit-scrollbar-thumb {
    background: transparent;
  }
}

